<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/application.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/png" href="/images/vector-logo.svg" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/vector-logo.svg" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/vector-logo.svg" sizes="64x64">
</head>
<body>

    <!-- Header -->

    <header class="header-dashboard">
        <div class="center-dashboard">
            <div class="left-side">
                <img src="/images/vector-logo.svg" class="vector-logo" alt="">
                <p>Dashboard | All in One</p>
            </div>
            <div class="right-side">
                <dic class="message-right-side">
                    <label for="scroll" class="scroll__label">
                        <img src="/images/vector-bell.svg" alt="" class="vector-bell">
                    </label>
                    <input type="checkbox" id="scroll" class="scroll__input">

                    <div class="scroll-bar">
                        <label for="scroll" class="scroll__label">

                        </label>
                        <div class="msn">
                            <h3>Lorem Ipsum</h3>
                            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Voluptates deleniti pariatur earum quibusdam velit! Ex mollitia vitae
                                soluta a, nobis consectetur? Quod in id nam laboriosam consectetur alias
                                omnis dolorum?</p>
                        </div>
                        <div class="msn">
                            <h3>Lorem Ipsum</h3>
                            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Voluptates deleniti pariatur earum quibusdam velit! Ex mollitia vitae
                                soluta a, nobis consectetur? Quod in id nam laboriosam consectetur alias
                                omnis dolorum?</p>
                        </div>
                        <div class="msn">
                            <h3>Lorem Ipsum</h3>
                            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Voluptates deleniti pariatur earum quibusdam velit! Ex mollitia vitae
                                soluta a, nobis consectetur? Quod in id nam laboriosam consectetur alias
                                omnis dolorum?</p>
                        </div>
                        <div class="msn">
                            <h3>Lorem Ipsum</h3>
                            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Voluptates deleniti pariatur earum quibusdam velit! Ex mollitia vitae
                                soluta a, nobis consectetur? Quod in id nam laboriosam consectetur alias
                                omnis dolorum?</p>
                        </div>
                        <div class="msn">
                            <h3>Lorem Ipsum</h3>
                            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Voluptates deleniti pariatur earum quibusdam velit! Ex mollitia vitae
                            soluta a, nobis consectetur? Quod in id nam laboriosam consectetur alias
                            omnis dolorum?</p>
                        </div>
                        <div class="msn">
                            <h3>Lorem Ipsum</h3>
                            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Voluptates deleniti pariatur earum quibusdam velit! Ex mollitia vitae
                                soluta a, nobis consectetur? Quod in id nam laboriosam consectetur alias
                                omnis dolorum?</p>
                        </div>
                        <div class="msn">
                            <h3>Lorem Ipsum</h3>
                            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Voluptates deleniti pariatur earum quibusdam velit! Ex mollitia vitae
                            soluta a, nobis consectetur? Quod in id nam laboriosam consectetur alias
                            omnis dolorum?</p>
                        </div>
                        <div class="msn">
                            <h3>Lorem Ipsum</h3>
                            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Voluptates deleniti pariatur earum quibusdam velit! Ex mollitia vitae
                                soluta a, nobis consectetur? Quod in id nam laboriosam consectetur alias
                                omnis dolorum?</p>
                        </div>
                        <div class="msn">
                            <h3>Lorem Ipsum</h3>
                            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Voluptates deleniti pariatur earum quibusdam velit! Ex mollitia vitae
                                soluta a, nobis consectetur? Quod in id nam laboriosam consectetur alias
                                omnis dolorum?</p>
                        </div>
                    </div>

                </dic>

                <div class="navbar-right-side">
                    <label for="menu" class="nav__label">
                        <img src="/images/pic-profile-man.webp" alt="" class="pic-profile-man">
                    </label>
                    <input type="checkbox" id="menu" class="nav__input">

                    <nav class="nav-bar">
                        <label for="menu" class="nav__label">

                        </label>
                        <ul>
                            <li>
                                <a href="#"  class="btn__option"><i class='bx bx-user-circle'></i>Mi perfil</a>
                            </li>
                            <li>
                                <a href="#"  class="btn__option"><i class='bx bx-chat'></i>Chat</a>
                            </li>
                            <li>
                                <a href="#"  class="btn__option"><i class='bx bx-group'></i></i>Contactos</a>
                            </li>
                            <li>
                                <a href="../index.html"  class="btn__option"><i class='bx bx-exit'></i>Salir</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </header>

<!-- Main-Container--Dashboard -->


    <main class="main-container-dashboard">

        <section class="section-menu">
                <section class="navbar-side-left">
                    <input type="checkbox" id="btn-menu">
                    <label for="btn-menu" class="icon-menu">
                        <i class='bx bx-menu'></i>
                    </label>
                    <section class="container-side-left">
                        <label for="btn-menu" class="icon-equis">
                            <i class='bx bx-arrow-from-right'></i>
                        </label>
                        <div class="menu-list">
                            <div class="data-profile">
                                <img src="/images/pic-profile-man.webp" alt="" class="pic-profile-man">
                                <p>Robert Fox</p>
                                <!-- <meter max="100" min="0" value="80"></meter> -->
                                <progress max="100" min="0" value="70"></progress>
                            </div>
                            <nav class="navbar1">
                                <ul>
                                    <li>
                                        <a href="#" class="links"><i class='bx bx-user-circle'></i>Inicio</a>
                                    </li>
                                    <li>
                                        <a href="#" class="links"><i class='bx bx-chat'></i>Chat social</a>
                                    </li>
                                    <li>
                                        <a href="#" class="links"><i class='bx bx-conversation'></i>Chat profesional</a>
                                    </li>
                                    <li>
                                        <a href="#" class="links"> <i class='bx bx-network-chart'></i>Gestion de equipos</a>
                                    </li>
                                    <li>
                                        <a href="#" class="links"><i class='bx bx-cog'></i>Configuración</a>
                                    </li>
                                    <li>
                                        <a href="room-help.html" class="links" target="_blank"><i class='bx bx-support'></i>Ayuda</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </section>
                </section>
        </section>

    <!-- Section Body -->

        <section class="section-body">
                <section class="navbar-side-right">
                    <nav class="navbar-categories">
                        <a href="#" class="category">Categorias</a>
                        <a href="#" class="category">Nuevas categorias</a>
                        <label for="" class="search-content">

                            <input type="text" placeholder="" class="search">
                            <input type="submit" value="Buscar" class="search-btn">
                        </label>
                    </nav>
                    <nav class="navbar-teams">
                        <a href="#" class="team">Equipos</a>
                        <a href="#" class="team">Nuevos equipos</a>
                    </nav>
                </section>
            </div>
        </section>

    </main>

</body>
</html>
