<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/application.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/png" href="/images/vector-logo.svg" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/vector-logo.svg" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/vector-logo.svg" sizes="64x64">
</head>
<body>

    <!-- Header -->

    <header class="header-dashboard">
        <div class="center-dashboard">
            <div class="left-side">
                <img src="/images/vector-logo.svg" class="vector-logo" alt="">
                <p>Dashboard | All in One</p>
            </div>
            <div class="right-side">
                <dic class="message-right-side">
                    <label for="scroll" class="scroll__label">
                        <img src="/images/vector-bell.svg" alt="" class="vector-bell">
                    </label>
                    <input type="checkbox" id="scroll" class="scroll__input">
                    <div class="scroll-bar">
                        <label for="scroll" class="scroll__label">
                        </label>
                        <div class="msn">
                            <h3>Lorem Ipsum</h3>
                            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Voluptates deleniti pariatur earum quibusdam velit! Ex mollitia vitae
                                soluta a, nobis consectetur? Quod in id nam laboriosam consectetur alias
                                omnis dolorum?</p>
                        </div>
                        <div class="msn">
                            <h3>Lorem Ipsum</h3>
                            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Voluptates deleniti pariatur earum quibusdam velit! Ex mollitia vitae
                                soluta a, nobis consectetur? Quod in id nam laboriosam consectetur alias
                                omnis dolorum?</p>
                        </div>
                        <div class="msn">
                            <h3>Lorem Ipsum</h3>
                            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Voluptates deleniti pariatur earum quibusdam velit! Ex mollitia vitae
                                soluta a, nobis consectetur? Quod in id nam laboriosam consectetur alias
                                omnis dolorum?</p>
                        </div>
                        <div class="msn">
                            <h3>Lorem Ipsum</h3>
                            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Voluptates deleniti pariatur earum quibusdam velit! Ex mollitia vitae
                                soluta a, nobis consectetur? Quod in id nam laboriosam consectetur alias
                                omnis dolorum?</p>
                        </div>
                        <div class="msn">
                            <h3>Lorem Ipsum</h3>
                            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Voluptates deleniti pariatur earum quibusdam velit! Ex mollitia vitae
                            soluta a, nobis consectetur? Quod in id nam laboriosam consectetur alias
                            omnis dolorum?</p>
                        </div>
                        <div class="msn">
                            <h3>Lorem Ipsum</h3>
                            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Voluptates deleniti pariatur earum quibusdam velit! Ex mollitia vitae
                                soluta a, nobis consectetur? Quod in id nam laboriosam consectetur alias
                                omnis dolorum?</p>
                        </div>
                        <div class="msn">
                            <h3>Lorem Ipsum</h3>
                            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Voluptates deleniti pariatur earum quibusdam velit! Ex mollitia vitae
                            soluta a, nobis consectetur? Quod in id nam laboriosam consectetur alias
                            omnis dolorum?</p>
                        </div>
                        <div class="msn">
                            <h3>Lorem Ipsum</h3>
                            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Voluptates deleniti pariatur earum quibusdam velit! Ex mollitia vitae
                                soluta a, nobis consectetur? Quod in id nam laboriosam consectetur alias
                                omnis dolorum?</p>
                        </div>
                        <div class="msn">
                            <h3>Lorem Ipsum</h3>
                            <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Voluptates deleniti pariatur earum quibusdam velit! Ex mollitia vitae
                                soluta a, nobis consectetur? Quod in id nam laboriosam consectetur alias
                                omnis dolorum?</p>
                        </div>
                    </div>
                </dic>

                <div class="navbar-right-side">
                    <label for="menu" class="nav__label">
                        <img  class="pic-profile-man" src="/images/pic-profile-man.webp" alt="">
                    </label>
                    <input type="checkbox" id="menu" class="nav__input">
                    <nav class="nav-bar">
                        <label for="menu" class="nav__label">
                        </label>
                        <ul>
                            <li>
                                <a href="#"  class="btn__option"><i class='bx bx-user-circle'></i>Mi perfil</a>
                            </li>
                            <li>
                                <a href="#"  class="btn__option"><i class='bx bx-chat'></i>Chat</a>
                            </li>
                            <li>
                                <a href="#"  class="btn__option"><i class='bx bx-group'></i></i>Contactos</a>
                            </li>
                            <li>
                                <a href="../index.html"  class="btn__option"><i class='bx bx-exit'></i>Salir</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- Main-Container--Dashboard -->


    <main class="main-container-dashboard">

        <section class="section-menu">
            <section class="navbar-side-left">
                <input type="checkbox" id="btn-menu">
                <label for="btn-menu" class="icon-menu">
                    <i class='bx bx-menu'></i>
                </label>
                <section class="container-side-left">
                    <label for="btn-menu" class="icon-equis">
                        <i class='bx bx-arrow-from-right'></i>
                    </label>
                    <div class="menu-list">
                        <div class="data-profile">
                            <img src="/images/pic-profile-man.webp" alt="" class="pic-profile-man">
                            <p class="name">Robert Fox</p>
                            <p class="email">robert@mail.com</p>
                            <progress max="100" min="0" value="85"></progress>
                        </div>
                        <nav class="navbar1">
                            <ul>
                                <li>
                                    <a href="#" class="links"><i class='bx bx-user-circle'></i>Inicio</a>
                                </li>
                                <li>
                                    <a href="#" class="links"><i class='bx bx-chat'></i>Chat social</a>
                                </li>
                                <li>
                                    <a href="#" class="links"><i class='bx bx-conversation'></i>Chat profesional</a>
                                </li>
                                <li>
                                    <a href="#" class="links"> <i class='bx bx-network-chart'></i>Gestion de equipos</a>
                                </li>
                                <li>
                                    <a href="#" class="links"><i class='bx bx-cog'></i>Configuración</a>
                                </li>
                                <li>
                                    <a href="room-help.html" class="links" target="_blank"><i class='bx bx-support'></i>Ayuda</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </section>
            </section>
        </section>

    <!-- Section Body -->

        <section class="section-body">

            <section class="navbar-side-right">
                <form action="" class="search-form">
                    <label for="" class="search-content">
                        <input type="text" placeholder="Solicitud..." class="search">
                    </label>
                    <input type="submit" value="Buscar" class="search-btn">
                </form>

                <input type="checkbox" id="grid">
                <label for="grid" class="grid-icon">
                    <i class='bx bxs-grid'></i>
                </label>
                <nav class="navbar-body">
                    <label for="grid" class="grid-icon">
                        <i class='bx bxs-close'></i>
                    </label>

                    <ul class="navbar-categories">
                        <li>
                            <span class="icon">🤗💬</span>
                            <a href="#" class="category">Categorias</a>
                        </li>
                        <li>
                            <span class="icon">🏷️🤝</span>
                            <a href="#" class="category">Crear categorias</a>
                        </li>
                    </ul>
                    <ul class="navbar-teams">
                        <li>
                            <span class="icon">🎯🔗</span>
                            <a href="#" class="team">Equipos</a>
                        </li>
                        <li>
                            <span class="icon">🚀🤲</span>
                            <a href="#" class="team">Crear equipos</a>
                        </li>
                    </ul>
                </nav>
            </section>

            <section class="blocks">
                <div class="block block1">
                    <h3>Block 1</h3>
                </div>
                <div class="block block2">
                    <h3>Block 2</h3>
                </div>
                <div class="block block3">
                    <h3>Block 3</h3>
                </div>
                <div class="block block4">
                    <h3>Block 4</h3>
                </div>
                <div class="block block5">
                    <h3>Block 5</h3>
                </div>
                <div class="block block6">
                    <h3>Block 6</h3>
                </div>
                <div class="block block7">
                    <h3>Block 7</h3>
                </div>
                <div class="block block8">
                    <h3>Block 8</h3>
                </div>
                <div class="block block9">
                    <h3>Block 9</h3>
                </div>
                <div class="block block10">
                    <h3>Block 10</h3>
                </div>
                <div class="block block11">
                    <h3>Block 11</h3>
                </div>
                <div class="block block12">
                    <h3>Block 12</h3>
                </div>
                <div class="block block13">
                    <h3>Block 13</h3>
                </div>
                <div class="block block14">
                    <h3>Block 14</h3>
                </div>
                <div class="block block15">
                    <h3>Block 15</h3>
                </div>
                <div class="block block16">
                    <h3>Block 16</h3>
                </div>
                <div class="block block17">
                    <h3>Block 17</h3>
                </div>
                <div class="block block18">
                    <h3>Block 18</h3>
                </div>
                <div class="block block19">
                    <h3>Block 19</h3>
                </div>
                <div class="block block20">
                    <h3>Block 20</h3>
                </div>
                <div class="block block21">
                    <h3>Block 21</h3>
                </div>
                <div class="block block22">
                    <h3>Block 22</h3>
                </div>
                <div class="block block23">
                    <h3>Block 23</h3>
                </div>
                <div class="block block24">
                    <h3>Block 24</h3>
                </div>
            </section>
        </section>

    </main>

</body>
</html>
