
/* Header */

.header-dashboard{
    width:100%;
    height: auto;
    display:flex;
    margin:auto;
    background-color: var(--almost-black);
    padding: 15px 0px;
    border: 1px solid rgb(95, 94, 94);
    position: fixed;
    top: 0;
    z-index: 100;
}
.header-dashboard .center-dashboard{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:auto 50px;
}

/* Left Side */

.header-dashboard .center-dashboard .left-side{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}
.header-dashboard .center-dashboard .left-side .vector-logo{
    width: 24px;
    height: auto;
}
.header-dashboard .center-dashboard .left-side p{
    font-size: 12px;
    color: var(--blue);
    font-weight: 500;
    font-family: var(--body-font);
}

/* Right - Side */

.header-dashboard .center-dashboard .right-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
}

/* Bell - Message */

.header-dashboard .center-dashboard .right-side .message-right-side{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-dashboard .center-dashboard .right-side .message-right-side .vector-bell{
    width:20px;
    height: auto;
    transform:scale(100%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}
.header-dashboard .center-dashboard .right-side .message-right-side .vector-bell:hover{
    transform:scale(110%);
}
.header-dashboard .center-dashboard .right-side .message-right-side .scroll-bar{
    display:none;
    opacity: 0;
    visibility: hidden;
}
.header-dashboard .center-dashboard .right-side .message-right-side .scroll-bar h3{
    font-size: 12px;
    color: var(--gray);
    font-weight: 200;
    font-family: var(--body-font);
    text-decoration: none;
    display: flex;
    transition: .3s ease-in-out;
}
.header-dashboard .center-dashboard .right-side .message-right-side .scroll-bar p{
    font-size: 10px;
    color: var(--light-blue-opacity);
    font-weight: 200;
    font-family: var(--body-font);
    text-decoration: none;
    transition: .3s ease-in-out;
    display: flex;
    padding-top: 10px;
    line-height: 15px;
    text-wrap: balance;
}
.header-dashboard .center-dashboard .right-side .message-right-side .scroll__input{
    display: none;
}
.header-dashboard .center-dashboard .right-side .message-right-side .scroll__input:checked + .scroll-bar{
    width:300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin: auto;
    padding: 10px 0px 20px;
    opacity:1;
    visibility: visible;
    position:absolute;
    top:42px;
    right:0;
    box-shadow:-4px 4px 8px 1px var(--black);
    background-color: #191918;
    overflow-y: scroll;
}
.header-dashboard .center-dashboard .right-side .message-right-side .scroll-bar .msn{
    width:90%;
    background-color: #191918;
    padding: 10px ;
    cursor:pointer;
    border-radius: 10px;
    transition:0.3s ease-in;
}
.header-dashboard .center-dashboard .right-side .message-right-side .scroll-bar .msn:hover{
    background-color: var(--deep-gray);
}

/* User -Navbar */

.header-dashboard .center-dashboard .right-side .navbar-right-side{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-dashboard .center-dashboard .right-side .navbar-right-side img.pic-profile-man{
    width:24px;
    height: auto;
    cursor: pointer;
}
.header-dashboard .center-dashboard .right-side .navbar-right-side .nav-bar{
    display:none;
    opacity: 0;
    visibility: hidden;
}
.header-dashboard .center-dashboard .right-side .navbar-right-side .nav-bar ul{
    display: flex;
    flex-direction: column;
}
.header-dashboard .center-dashboard .right-side .navbar-right-side .nav-bar ul li{
    list-style-type: none;
}
.header-dashboard .center-dashboard .right-side .navbar-right-side .nav__input{
    display: none;
}
.header-dashboard .center-dashboard .right-side .navbar-right-side .nav__input:checked + .nav-bar{
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity:1;
    visibility: visible;
    position:absolute;
    top:44px;
    right:0;
    background-color: var(--dark);
    box-shadow:-4px 4px  8px 1px var(--black);
}
.header-dashboard .center-dashboard .right-side .navbar-right-side .nav-bar .btn__option{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center ;
    gap:20px;
    font-size: 10px;
    color: var(--blue);
    font-weight: 500;
    font-family: var(--body-font);
    text-decoration: none;
    padding: 10px 20px;
    transition: .3s ease-in-out;
}
.header-dashboard .center-dashboard .right-side .navbar-right-side .nav-bar .btn__option:hover{
    background-color:var(--deep-gray) ;
    color: var(--white);
}
.header-dashboard .center-dashboard .right-side .navbar-right-side .nav-bar i{
    font-size: 16px;
}

/*----------- Main - Container -------------*/

.main-container-dashboard{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px auto;
    /* gap:100px; */
}

/*---- Side left------*/

.main-container-dashboard .section-menu .navbar-side-left{
    width: 45px;
    height: 100%;
    position: fixed;
    top:59.83px;
    left:0;
    z-index:9;
    /* box-shadow: 0px 0px 50px 1px var(--black); */
}
.main-container-dashboard .section-menu .navbar-side-left .icon-menu i.bx-menu{
    font-size: 24px;
    cursor: pointer;
    color:var(--white);
    margin:10px;
    transition: color 0.3s ease-in-out;
}
.main-container-dashboard .section-menu .navbar-side-left .icon-menu i.bx-menu:hover{
    color:var( --blue)
}
.main-container-dashboard .section-menu .navbar-side-left .container-side-left{
	position: absolute;
    top: 0;
    left:0px;
    background-color:  var(--dark);
	width: 20vw;
	height: 100vh;
	opacity: 0;
    z-index: 1;
    padding:15px;
    box-shadow: 0px 0px 50px 1px var(--black);
    display: flex;
    flex-direction: column;
    transform:translateX(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.main-container-dashboard .section-menu .navbar-side-left .container-side-left .icon-equis {
    align-self: flex-end;
}
.main-container-dashboard .section-menu .navbar-side-left .container-side-left .icon-equis i.bx-arrow-from-right{
	color: var(--white);
	font-size: 24px;
	cursor: pointer;
    transition: .3s ease-in-out;
}
.main-container-dashboard .section-menu .navbar-side-left .container-side-left .icon-equis i:hover{
    color: var(--light-blue);
}
.main-container-dashboard .section-menu .navbar-side-left #btn-menu{
    display: none;
}
.main-container-dashboard .section-menu .navbar-side-left #btn-menu:checked ~ .container-side-left{
	opacity: 1;
    transform: translateX(0%);
}
.main-container-dashboard .section-menu .navbar-side-left .container-side-left .menu-list{
    width:auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.main-container-dashboard .section-menu .navbar-side-left .container-side-left .menu-list progress{
    width:100px;
}
.main-container-dashboard .section-menu .navbar-side-left .container-side-left .menu-list .data-profile{
    height:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    margin: 15px auto;
}
.main-container-dashboard .section-menu .navbar-side-left .container-side-left .menu-list .data-profile .pic-profile-man{
    width: 45px;
    height: auto;
    margin: 10px auto 20px;
    border-radius: 50%;
}
.main-container-dashboard .section-menu .navbar-side-left .container-side-left .menu-list .data-profile p.nombre{
    font-size: 13px;
    color: var(--hotpink);
    font-weight: 500;
    margin-bottom:10px;
    font-family: var(--body-font);
}
.main-container-dashboard .section-menu .navbar-side-left .container-side-left .menu-list .data-profile p.email{
    font-size: 10px;
    color: var(--light-black);
    font-family: var(--body-font);
}
.main-container-dashboard .section-menu .navbar-side-left .container-side-left .menu-list .navbar1{
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    background-color: var(--dark);
}
.main-container-dashboard .section-menu .navbar-side-left .container-side-left .menu-list .navbar1 ul{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.main-container-dashboard .section-menu .navbar-side-left .container-side-left .menu-list .navbar1 ul li{
    list-style-type: none;
}
.main-container-dashboard .section-menu .navbar-side-left .container-side-left .menu-list .navbar1 .links{
    width: 100%;
    height:auto;
    font-size: 11px;
    color: var(--blue);
    font-weight: 500;
    font-family: var(--body-font);
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    padding: 13px;
    border-radius: 5px;
    transition: .2s ease-in-out;
}
.main-container-dashboard .section-menu .navbar-side-left .container-side-left .menu-list .navbar1 .links:hover{
    background-color: var(--deep-gray);
    color: var(--gray);
}
.main-container-dashboard .section-menu .navbar-side-left .container-side-left .menu-list .navbar1 .links i.bx{
    font-size:18px;
}










/*------- Boby Search ----*/

.main-container-dashboard .section-body {
    width: 78vw;
    height:auto;
    padding: 80px 20px 0px 0px;
}
.main-container-dashboard .section-body .navbar-side-right{
    width: auto;
    height:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:  var(--dark);
    box-shadow:0px 0px 8px 1px var(--black);
    padding: 15px ;
    border-radius: 4px;
    position: relative;
}
.main-container-dashboard .section-body .navbar-side-right .search-form{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.main-container-dashboard .section-body .navbar-side-right .search-form .search-content .search{
    background-color: var(--dark);
    color: var(--white);
    border-radius: 4px;
    padding: 10px;
    border-radius: 4px;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    font-family: var(--body-font);
}
.main-container-dashboard .section-body .navbar-side-right .search-form .search-btn{
    padding: 10px 20px;
    color: var(--blue);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    font-family: var(--body-font);
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--deep-gray);
    border: 1px solid var(--deep-gray);
    transition: .5s ease-in-out;
}
.main-container-dashboard .section-body .navbar-side-right .search-btn:hover{
    border: 1px solid var(--deep-gray);
    color: var(--gray);
    box-shadow: 0px 0px 4px var(--light-black);
}



/* Aqui voy */


.main-container-dashboard .section-body .navbar-side-right .navbar-body{
    display: none;
    opacity: 0;
    visibility: hidden;
}

/* Body - Nuevos equipos -*/

.main-container-dashboard .section-body .navbar-side-right #grid{
    display: none;
}
.main-container-dashboard .section-body .navbar-side-right #grid:checked ~ .navbar-body{
    width:auto;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    padding: 15px;
    background-color: var(--dark);
    border-radius: 4px;
    position: absolute;
    top:75%;
    right:25px;
    box-shadow:-4px 4px 8px 1px var(--black);
    opacity: 1;
    visibility: visible;
}
.main-container-dashboard .section-body .navbar-side-right .grid-icon i.bxs-grid{
    font-size: 24px;
    cursor: pointer;
    color:var(--white);
    margin:10px;
    display: flex;
    flex-direction: column;
    position:relative;
    transition: color 0.3s ease-in-out;
}
.main-container-dashboard .section-body .navbar-side-right .grid-icon i.bxs-grid::after{
    content:"";
    position: absolute;
    top:40px;
    right:0;
}
.main-container-dashboard .section-body .navbar-side-right .grid-icon i.bxs-grid:hover::after{
    content:"Menu";
    font-size: 10px;
    cursor: pointer;
    color:var(--white);
    font-family: var(--body-font);
    background-color: var(--black);
    padding:5px 10px;
    border-radius: 4px;
}
.main-container-dashboard .section-body .navbar-side-right .grid-icon i.bxs-grid:hover{
    color:var( --blue)
}
.main-container-dashboard .section-body .navbar-side-right .navbar-body .navbar-teams,
.main-container-dashboard .section-body .navbar-side-right .navbar-body .navbar-categories{
    width:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:10px;
    background-color: var(--dark);
    border-radius: 4px;
}
.main-container-dashboard .section-body .navbar-side-right .navbar-body .navbar-categories{
    margin-top: -25px;
}
.main-container-dashboard .section-body .navbar-side-right .navbar-body .navbar-teams li,
.main-container-dashboard .section-body .navbar-side-right .navbar-body .navbar-categories li{
    width:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    border-radius: 4px;
    list-style-type: none;
}
.main-container-dashboard .section-body .navbar-side-right .navbar-body .navbar-teams li span.icon,
.main-container-dashboard .section-body .navbar-side-right .navbar-body .navbar-categories li span.icon{
    width:100%;
    font-size:17px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
.main-container-dashboard .section-body .navbar-side-right .navbar-body .navbar-teams .team,
.main-container-dashboard .section-body .navbar-side-right .navbar-body .navbar-categories .category{
    width:100px;
    color: var(--blue);
    border: 1px solid transparent;
    text-decoration: none;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    font-family: var(--body-font);
    color: var(--light-blue-opacity);
    font-weight: 200;
    padding: 5px;
    transition: .3s ease-in-out;
}
.main-container-dashboard .section-body .navbar-side-right .navbar-body .navbar-teams .team:hover,
.main-container-dashboard .section-body .navbar-side-right .navbar-body .navbar-categories .category:hover {
    background-color: var(--light-blue-opacity);
    background-color: var(--deep-gray);
    color: var(--gray);
}


