
.section-cards-profiles{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
    margin: auto;
}
.section-cards-profiles .subtitle{
    color: var(--gray);
    font-size: 30px ;
    font-weight: 600;
    padding-bottom: 150px;
    padding-top: 150px;
    font-family: var(--headers-font);
}
.section-cards-profiles .subtitle span{
    color: var(--light-blue);
}
.section-cards-profiles .cards-clients{
    width: 90%;
    max-width:1200px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin: 0 auto;
    border-radius: 8px;
    z-index: 99;
}
.section-cards-profiles .cards-clients .card{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: var(--deep-gray);
    justify-content: space-around;
    border-radius: 8px;
    transition: 0.5s ease-in-out;
}
.section-cards-profiles .cards-clients .card:hover{
    box-shadow: 0 0 5px var(--light-blue);
}
.section-cards-profiles .cards-clients .card figure{
    overflow: hidden;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.section-cards-profiles .cards-clients .card figure .services{
    width: auto;
    height: auto;
    text-align: left;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    filter: grayscale(40%);
    transform: scale(108%);
    transition: transform .5s ease-in-out;
}
.section-cards-profiles .cards-clients .card:hover > figure .services{
    transform: scale(115%);
    filter: grayscale(20%);
}
.section-cards-profiles .cards-clients .card .text{
    padding: 0px 20px;
    width:250px;
    height:100%;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 20px 0px 20px 20px;
    background-color: var(--deep-gray);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.section-cards-profiles .cards-clients .card .text h3{
    color: var(--light-blue);
    font-size: 20px ;
    font-family: var(--body-font);
}
.section-cards-profiles .cards-clients .card .text p{
    color: var(--light-gray);
    font-size: 12px ;
    font-weight: 200;
    line-height: 15px;
    letter-spacing: 1.5px;
    font-family: var(--body-font);
    text-wrap:balance;
}
.section-cards-profiles .cards-clients .card .text p span {
    color:  var(--light-blue);
}
.section-cards-profiles .cards-clients .card .text .plan{
    color: var(--light-blue);
    font-size: 14px ;
    font-weight: 200;
    font-family: var(--body-font);
    text-decoration: none;
    transition:.5s;
}
.section-cards-profiles .cards-clients .card .text .plan:hover{
    text-decoration: underline;
}
.section-cards-profiles .cards-clients .flaticon{
    width:45px;
    height:auto;
    align-self: end;
}
