.questions-answers{
    width:80%;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 150px;
}
.questions-answers h2{
    color: var(--gray);
    font-size: 30px ;
    font-weight: 600;
    padding-bottom: 150px;
    padding-top: 150px;
    font-family: var(--headers-font);
}
.questions-answers .scrolldown-answers{
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.questions-answers .scrolldown-answers details summary{
    color: var(--light-black);
    font-size: 16px ;
    font-weight: 200;
    padding: 30px 0px;
    font-family: var(--body-font);
    border-bottom: 1px solid rgb(95, 94, 94);
}
.questions-answers .scrolldown-answers details p{
    color: var(--light-gray);
    font-size: 14px ;
    font-weight: 200;
    padding: 30px 0px;
    font-family: var(--body-font);
    text-wrap:balance;
    border-bottom: 1px solid rgb(95, 94, 94);
    transition: all .2s;
}
.questions-answers .scrolldown-answers details p span {
    color: var(--light-blue);
}
.questions-answers .room-help{
    margin: 80px 110px 0px 0px;
    justify-content: center;
    align-self: flex-end;
    color: var(--light-blue);
    font-size: 16px ;
    font-weight: 200;
    padding: 30px 0px;
    font-family: var(--body-font);
    text-decoration: none;
}
.questions-answers .room-help:hover{
    text-decoration: underline;
}




